@import url('css/bootstrap.css');
@import url('css/tambahan.css');
#menu-top{
	height:60px;
	border-left: 1px solid gray;
	padding-top:20px;
}
a:hover{text-decoration:none;}
.li,.head-title{font-family:'Open Sans', Segoe UI light, Tahoma,Helvetica,sans-serif;}
.li{font-size:20px;}
.head-title{color:#AAD3D0}
.head-title:hover{color:#F90}
.head-title .title-pref{color:#F90;font-weight:bold;}
